body{
    background-color: #111;

}

.navbar {
background: rgb(153,58,192) !important;
background: linear-gradient(0deg, rgba(153,58,192,1) 0%, rgba(213,58,157,1) 98%, rgba(255,74,190,1) 100%) !important;
}
.con{
     width: auto;
    Height: 300px;
    padding-top: 200px;
    padding-left: 50px;
    background: rgb(153,58,192);
background: linear-gradient(0deg, rgba(153,58,192,1) 0%, rgba(58,150,213,1) 98%, rgba(74,220,255,1) 100%);
}

.card{
    transition: 0.3s;
     animation: mymove 2s;
    background-color: #111;
    color: #888;
    border: none;
    transform: perspective(200px) rotateY(15deg);
    
}

.card:hover{
    background: rgb(153,58,192) !important;
background: linear-gradient(0deg, rgba(153,58,192,1) 0%, rgba(213,58,157,1) 98%, rgba(255,74,190,1) 100%) !important;
    transform: perspective(1550px) rotateY(15deg);
    color: #fff;
}

.btn-primary:hover{
    background-color: #111 !important;
}
@keyframes mymove {
  from {margin-top: 50px;opacity: 0;transform: perspective(800px) rotateY(-15deg);}
    to {transform: perspective(200px) rotateY(15deg);}
}

.myDIV {
  width: 800px;
  background: rgb(153,58,192) !important;
background: linear-gradient(0deg, rgba(153,58,192,1) 0%, rgba(213,58,157,1) 98%, rgba(255,74,190,1) 100%) !important;
  color: white;
  animation: move 5s;
}
@keyframes move {
   from {width: 200px;margin-top: 50px;opacity: 0;}
    to {width: 800px;}
}